name: Cek File Appwrite (Debug)

on:
  workflow_dispatch:

jobs:
  check-status:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout Code
      uses: actions/checkout@v3

    - name: Setup Node.js
      uses: actions/setup-node@v3
      with:
        node-version: '20'

    - name: Install Dependencies
      run: npm install node-appwrite

    - name: Run Check Script
      run: node cek_file.js
      env:
        PROJECT_ID: ${{ secrets.APPWRITE_PROJECT_ID }}
        BUCKET_ID: ${{ secrets.APPWRITE_BUCKET_ID }}
        API_KEY: ${{ secrets.APPWRITE_API_KEY }}
